#right {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;

    @media screen and (max-width: 800px) {
        justify-content: center;
        width: 100%
    }

    #form {
        margin: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        padding: 15px;
        width: 450px;
        background: white;

        #username {
            margin: 0px;
        }
        
        .Button {
            background: #4a4ec7;
        }
    }
}

.color-pickers{
    display: flex;

    .color-picker {

        p {
            margin: 0px 0px 0px 30px;
        }

        .react-colorful{
            width: 90px;
            height: 90px;
            margin: 10px 30px 0px 30px;

            .react-colorful__saturation-pointer {
                width: 25px;
                height: 25px;
            }

            .react-colorful__hue-pointer {
                width: 20px;
                height: 20px;
            }
        }

    }
}

