#main {
    display: flex;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }

    #cards {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 50%;

        @media screen and (max-width: 800px) {
            justify-content: center;
            width: 100%
        }
    
        
    }
}

