.card {
    width: 400px;
    height: 228.57px;
    background-color: rgb(69, 170, 229);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 20px;

    @media screen and (max-width: 450px) {
        width: 350px;
        height: 200px;
    }

    .username {
        margin: 0px 1rem;
        line-height: 1rem;
        font-size: 1.25rem;

        @media screen and (max-width: 450px) {
            font-size: 1rem;
        }
    }

    .card-lower {
        display: flex;
        justify-content: space-around;

        .image-container {
            

            img {
                height: 160px;
                width: 160px;

                @media screen and (max-width: 450px) {
                    width: 140px;
                    height: 140px;
                }
            }
        }

        .user-image{
            object-fit: cover;
            border-radius: 50%;
        }
    }
}


