#designs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    #card-design{
        width: 250px;
        object-fit: contain;
    }

    #sticker-design{
        width: 200px;
    }
}

