#simple-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: (0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background: rgb(247, 247, 247);
    border-radius: 10px;

    @media screen and (max-width: 700px) {
        flex-direction: column; 
    }

    .simple-qr-holder {
        margin-left: 120px;

        @media screen and (max-width: 700px) {
            margin-left: 0;
        }
    }

    #simple-inputs{

        background-color: white;
        padding: 60px 40px;
        border-radius: 10px;
        max-width: 100%;
        border: 1px solid rgb(241, 241, 241);

        @media screen and (max-width: 700px) {
            margin-top: 40px;
            width: 100%;
        }

        button {
            font-weight: bold;
        }
        
    }

    svg #qr-holder {
        transform: scale(1.5)
    }

    #qr-holder {
        transform: scale(1.5);

        @media screen and (max-width: 700px) {
            margin-top: 45px;
            transform: scale(1.2);
        }
        

    
    }
}