#simple-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: rgb(247, 247, 247);
    border-radius: 5px;

    @media screen and (max-width: 650px) {
        flex-direction: column; 
    }

    #simple-inputs{

        @media screen and (max-width: 650px) {
            margin-top: 40px;
        }
        
    }

    svg #qr-holder {
        transform: scale(1.5)
    }

    #qr-holder {
        transform: scale(1.5)
    }
}